<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-29-2020
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   10-29-2020   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
    <div
        class="slds-text-align_center slds-border_top slds-border_bottom">
        Scanned QRCode value is:
        <span class="slds-text-heading_small">{scannedQRCode}</span>
    </div>
    <div class="slds-align_absolute-center slds-text-align_center slds-text-color_weak">
        Click Scan QRcode to open a qrcode scanner camera view to scan.
    </div>
    <div class="slds-text-align_center">
        <lightning-button variant="brand" class="slds-var-m-left_x-small" disabled={scanButtonDisabled}
            icon-name="utility:cases" label="Scan QRcode" title="Open a camera view and look for a qrcode to scan"
            onclick={handleScanClick}>
        </lightning-button>
    </div>
</template>